/* /* Radio element, when checked */

input[type="radio"]:checked {
    background-color: #19beff;
    border-color: #f5f5f5;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    /* padding: 2px;
    margin: 5px; */
}